<!DOCTYPE html>
<html>
<body>

<!--  include links to external Style Sheets  -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="shortcut icon" href="/static/favicon.ico">

<!-- include external javascript libraries  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/static/js/mainWeather.js"></script>
<script>
    var imageNames = [
        '1.jpg',
        '2.jpg',
        '3.jpg',
        '4.jpg',
        '5.jpg',
        '6.jpg',
    ]

	//this function will fire when the document is loaded and ready
     $(document).ready(function() {
         setImageArray(imageNames);
         getBackgroundImage();
         getSensorData();
     });
</script>

</head>
    <body>
        <img id='background-image' />
        <div class='col-xs-12' id='weather-container'>
            <div class="col-xs-12 col-sm-2"></div>
            <div id="outside-weather-container" class="col-xs-12 col-sm-8">
                <h1>RES' Wacky Weather App</h1>
                <span id='weather-icon'></span>
                <p id='weather-desc'></p>
                <p id='weather-location'></p>
                <div id="WeatherWrapper" class="col-xs-12 col-sm-6 weather-wrapper">
				<input type="number" id="zip" placeholder="enter zip code, or leave blank to use IP" class="form-control" >
				<button id="submitZip" onclick="getWeatherLocation()" class="btn btn-primary" style="margin: 15px;">Get Weather</button>									
                </div>
                <div id="SensorDataWrapper" class="col-xs-12 col-sm-6 weather-wrapper">
					 <div id='loading' class='col-xs-8 col-sm-8'>
						<span class='fas fa-spinner fa-spin'></span>
						<p>Loading...</p>
					</div>
                </div>				
				<div id='AlertWrapper' id="alert-wrapper" class="alert-wrapper">
					<button type="button" class="btn btn-danger" onclick="sendAlert();"><i class="far fa-bell"></i>&nbsp;Send Alert</button>				
				</div>				
            </div>		
            
            <div class="col-xs-12 col-sm-2"></div>
        </div>
		<input type='hidden' id='locationType'>
    </body>
</html>
